.navbar { 
    font-weight: 400;
    font-size: 11pt;
    background-color: #FFFFFF;
}

.navbar-brand {
    font-size: 11pt;
}

.round { 
    border-radius: 50%; 
}

.icon-search {
    background-color: #FFFFFF;
    height: 30px;
    width: 50px;
    
    border-left:0 solid transparent;
    background:transparent;
}

.input-group input {
    position: absolute;
    height: 30px;
    width: 50px;
    border-right: 0;

    outline: none;
    box-shadow:none !important;
    border:1px solid #ccc !important;
}

.badge {
    background-color:#FFF;
    color: #FF4444;
}

.app {
    background-color: #FFFFFF;;
    height: auto;
    float: none;
    margin: 0 auto;
    font-size: 8pt;
}


.user-group {
    margin-top: 5px;
    font-weight: 200;
}

i {  
    vertical-align: middle; 
}

.table-users tbody tr:hover {
	cursor: pointer;
    background-color: #eee;
}
.nav-user-photo {
     vertical-align: middle;
     border-radius: 50%;
}
.user_panel {
    width: 50%;
}

.user-block {
    font-size: 10pt;
    display: block;
    font-weight: 400;
}

.user-desc {
    display: block;
    font-size: 10pt;
    font-weight: 200;
    color: gray;
}

.user-city {
    display: block;
    font-size: 10pt;
    font-weight: 300;
    color: black;
}

.right {
    position: absolute;
    right: 0px;
    font-weight: 300;
    padding: 10px;
}

.item-bolded {
    font-weight: bold;
    font-size: 11pt;
}

.table-users tr td {
    padding-left: 40px;
}

.table-container tr td{
    position: relative;
    border: none;
}

.table-container tr td .user-city{
    position: absolute;
    top: 25px;
    right: 0;
}

.list-group-item {
    border: 0 none;
}

.shadow {
    box-shadow: 4px 4px;
}